
# **About Dataset**
## Background
What can we say about the success of a movie before it is released? Are there certain companies (Pixar?) that have found a consistent formula? Given that major films costing over $100 million to produce can still flop, this question is more important than ever to the industry. Film aficionados might have different interests. Can we predict which films will be highly rated, whether or not they are a commercial success?

This is a great place to start digging in to those questions, with data on the plot, cast, crew, budget, and revenues of several thousand films.

## Data Source Transfer Summary
We (Kaggle) have removed the original version of this dataset per a DMCA takedown request from IMDB. In order to minimize the impact, we're replacing it with a similar set of films and data fields from The Movie Database (TMDb) in accordance with their terms of use. The bad news is that kernels built on the old dataset will most likely no longer work.

The good news is that:

- You can port your existing kernels over with a bit of editing. This kernel offers functions and examples for doing so. You can also find a general introduction to the new format here.

- The new dataset contains full credits for both the cast and the crew, rather than just the first three actors.

- Actor and actresses are now listed in the order they appear in the credits. It's unclear what ordering the original dataset used; for the movies I spot checked it didn't line up with either the credits order or IMDB's stars order.

- The revenues appear to be more current. For example, IMDB's figures for Avatar seem to be from 2010 and understate the film's global revenues by over $2 billion.

- Some of the movies that we weren't able to port over (a couple of hundred) were just bad entries. For example, this IMDB entry has basically no accurate information at all. It lists Star Wars Episode VII as a documentary.

## Data Source Transfer Details
- Several of the new columns contain json. You can save a bit of time by porting the load data functions [from this kernel]().

- Even in simple fields like runtime may not be consistent across versions. For example, previous dataset shows the duration for Avatar's extended cut while TMDB shows the time for the original version.

- There's now a separate file containing the full credits for both the cast and crew.

- All fields are filled out by users so don't expect them to agree on keywords, genres, ratings, or the like.

- Your existing kernels will continue to render normally until they are re-run.

- If you are curious about how this dataset was prepared, the code to access TMDb's API is posted here.

**New columns:**

- homepage

- id

- original_title

- overview

- popularity

- production_companies

- production_countries

- release_date

- spoken_languages

- status

- tagline

- vote_average

**Lost columns:**

- actor_1_facebook_likes

- actor_2_facebook_likes

- actor_3_facebook_likes

- aspect_ratio

- cast_total_facebook_likes

- color

- content_rating

- director_facebook_likes

- facenumber_in_poster

- movie_facebook_likes

- movie_imdb_link

- num_critic_for_reviews

- num_user_for_reviews

**Open Questions About the Data**
There are some things we haven't had a chance to confirm about the new dataset. If you have any insights, please let us know in the forums!

- Are the budgets and revenues all in US dollars? Do they consistently show the global revenues?

- This dataset hasn't yet gone through a data quality analysis. Can you find any obvious corrections? For example, in the IMDb version it was necessary to treat values of zero in the budget field as missing. Similar findings would be very helpful to your fellow Kagglers! (It's probably a good idea to keep treating zeros as missing, with the caveat that missing budgets much more likely to have been from small budget films in the first place).

**Inspiration**
Can you categorize the films by type, such as animated or not? We don't have explicit labels for this, but it should be possible to build them from the crew's job titles.

How sharp is the divide between major film studios and the independents? Do those two groups fall naturally out of a clustering analysis or is something more complicated going on?

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#load the datset
df_movies=pd.read_csv("Dataset/tmdb_5000_movies.csv")
df_credits=pd.read_csv("Dataset/tmdb_5000_credits.csv")

In [6]:
df_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
df_movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [8]:
df_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
df_movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [10]:
df_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
#Now merge the data
df_movies=df_movies.merge(df_credits,on="title")

In [12]:
df_movies.head(1).T

                                                                      0
budget                                                        237000000
genres                [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                    http://www.avatarmovie.com/
id                                                                19995
keywords              [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                    en
original_title                                                   Avatar
overview              In the 22nd century, a paraplegic Marine is di...
popularity                                                   150.437577
production_companies  [{"name": "Ingenious Film Partners", "id": 289...
production_countries  [{"iso_3166_1": "US", "name": "United States o...
release_date                                                 2009-12-10
revenue                                                      2787965087
runtime                                                           162.0
spoken_languages      [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                         Released
tagline                                     Enter the World of Pandora.
title                                                            Avatar
vote_average                                                        7.2
vote_count                                                        11800
movie_id                                                          19995
cast                  [{"cast_id": 242, "character": "Jake Sully", "...
crew                  [{"credit_id": "52fe48009251416c750aca23", "de...

In [13]:
#geners
#id
#keywords

In [14]:
df_movies=df_movies[["movie_id","title","overview","genres","keywords","cast","crew"]]

In [15]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [16]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
df_movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
df_movies.dropna(inplace=True)

In [19]:
df_movies.duplicated().sum()

0

In [20]:
df_movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [21]:
import ast
ast.literal_eval

In [22]:
# Now lets get to name: values
def con(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i["name"])
    return L

In [23]:
df_movies["genres"]=df_movies["genres"].apply(con)

In [24]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [25]:
# Now lets get to name: values
def con(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i["name"])
    return L

In [26]:
df_movies["keywords"]=df_movies["keywords"].apply(con)

In [27]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [28]:
def con3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i["name"])
            counter+=1
        else:
            break
    return L

In [29]:
df_movies["cast"]=df_movies["cast"].apply(con3)

In [30]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [31]:
df_movies["crew"][4]

'[{"credit_id": "52fe479ac3a36847f813eaa3", "department": "Writing", "gender": 2, "id": 7, "job": "Screenplay", "name": "Andrew Stanton"}, {"credit_id": "52fe479ac3a36847f813ea65", "department": "Directing", "gender": 2, "id": 7, "job": "Director", "name": "Andrew Stanton"}, {"credit_id": "58c69e819251411d30017673", "department": "Crew", "gender": 2, "id": 7879, "job": "Thanks", "name": "John Lasseter"}, {"credit_id": "52fe479ac3a36847f813eac5", "department": "Production", "gender": 2, "id": 490, "job": "Producer", "name": "Colin Wilson"}, {"credit_id": "58c68f2b9251411d30016cf2", "department": "Production", "gender": 2, "id": 2073, "job": "Casting", "name": "Gail Stevens"}, {"credit_id": "58c68ef19251411d62016ec3", "department": "Sound", "gender": 2, "id": 3996, "job": "Sound Re-Recording Mixer", "name": "Tom Johnson"}, {"credit_id": "52fe479ac3a36847f813ead7", "department": "Editing", "gender": 2, "id": 6958, "job": "Editor", "name": "Eric Zumbrunnen"}, {"credit_id": "58c69a9ec3a36840b801738e", "department": "Editing", "gender": 0, "id": 8158, "job": "Dialogue Editor", "name": "Michael Silvers"}, {"credit_id": "58c68f1ec3a368413b015877", "department": "Sound", "gender": 0, "id": 8166, "job": "Sound Re-Recording Mixer", "name": "Juan Peralta"}, {"credit_id": "58c69340c3a36841200154c9", "department": "Costume & Make-Up", "gender": 0, "id": 8412, "job": "Key Makeup Artist", "name": "Paul Gooch"}, {"credit_id": "58c69cc0c3a368413001574a", "department": "Art", "gender": 0, "id": 12039, "job": "Set Decoration", "name": "Paki Smith"}, {"credit_id": "58c69e9e9251411d11017c02", "department": "Crew", "gender": 0, "id": 12895, "job": "Thanks", "name": "Ed Catmull"}, {"credit_id": "58c689079251411d19017350", "department": "Crew", "gender": 2, "id": 12897, "job": "In Memory Of", "name": "Steve Jobs"}, {"credit_id": "56abe29d9251417e22003953", "department": "Costume & Make-Up", "gender": 2, "id": 15017, "job": "Makeup Designer", "name": "Bill Corso"}, {"credit_id": "58c691fc9251411d30016e75", "department": "Art", "gender": 2, "id": 14762, "job": "Art Direction", "name": "Robert Woodruff"}, {"credit_id": "52fe479ac3a36847f813eae3", "department": "Art", "gender": 2, "id": 15327, "job": "Production Design", "name": "Nathan Crowley"}, {"credit_id": "58c6888bc3a36840f6014f95", "department": "Sound", "gender": 2, "id": 15347, "job": "Music", "name": "Michael Giacchino"}, {"credit_id": "52fe479ac3a36847f813ead1", "department": "Camera", "gender": 0, "id": 15348, "job": "Director of Photography", "name": "Daniel Mindel"}, {"credit_id": "58c69adcc3a36840f6015b94", "department": "Sound", "gender": 2, "id": 15354, "job": "Music Editor", "name": "Stephen M. Davis"}, {"credit_id": "58c69227c3a36840f60155d7", "department": "Art", "gender": 2, "id": 34513, "job": "Art Direction", "name": "John King"}, {"credit_id": "52fe479ac3a36847f813eafb", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "570b939092514111f20029c9", "department": "Art", "gender": 0, "id": 17677, "job": "Supervising Art Director", "name": "Naaman Marshall"}, {"credit_id": "58c69203c3a36841140150c8", "department": "Art", "gender": 0, "id": 18925, "job": "Art Direction", "name": "Scott Zuber"}, {"credit_id": "58c6905bc3a3684128014f17", "department": "Art", "gender": 2, "id": 23454, "job": "Art Direction", "name": "Phil Harvey"}, {"credit_id": "58c69aedc3a36841140156e9", "department": "Sound", "gender": 0, "id": 28241, "job": "Orchestrator", "name": "Tim Simonec"}, {"credit_id": "58c69811c3a368410c0160b1", "department": "Costume & Make-Up", "gender": 0, "id": 29233, "job": "Makeup Artist", "name": "Veronica McAleer"}, {"credit_id": "52fe479ac3a36847f813eb07", "department": "Writing", "gender": 2, "id": 15776, "job": "Original Story", "name": "Edgar Rice Burroughs"}, {"credit_id": "52fe479ac3a36847f813eadd", "department": "Production", "gender": 1, "id": 51557, "job": "Casting", "name": "Marcia Ross"}, {"credit_id": "58c69f12c3a36841140159a5", "department": "Crew", "gender": 2, "id": 39624, "job": "Thanks", "name": "Peter Gabriel"}, {"credit_id": "58c6937f9251411d30016f5f", "department": "Costume & Make-Up", "gender": 0, "id": 61996, "job": "Key Makeup Artist", "name": "Christien Tinsley"}, {"credit_id": "58c69acb9251411d19017f73", "department": "Production", "gender": 0, "id": 64449, "job": "ADR Voice Casting", "name": "Holly Dorff"}, {"credit_id": "52fe479ac3a36847f813eabf", "department": "Production", "gender": 0, "id": 72752, "job": "Producer", "name": "Jim Morris"}, {"credit_id": "52fe479ac3a36847f813eab9", "department": "Production", "gender": 0, "id": 72753, "job": "Producer", "name": "Lindsey Collins"}, {"credit_id": "52fe479ac3a36847f813eaaf", "department": "Writing", "gender": 2, "id": 67758, "job": "Screenplay", "name": "Michael Chabon"}, {"credit_id": "58c68a499251411d55016dd5", "department": "Production", "gender": 0, "id": 91055, "job": "Unit Production Manager", "name": "Jan Foster"}, {"credit_id": "58c699509251411d550177c7", "department": "Camera", "gender": 0, "id": 91912, "job": "Camera Operator", "name": "John Skotchdopole"}, {"credit_id": "58c6995cc3a368412001591e", "department": "Sound", "gender": 2, "id": 105780, "job": "Sound Mixer", "name": "Chris Munro"}, {"credit_id": "58c6884e9251411d15016de7", "department": "Visual Effects", "gender": 0, "id": 122274, "job": "Visual Effects Supervisor", "name": "Peter Chiang"}, {"credit_id": "52fe479ac3a36847f813eaa9", "department": "Writing", "gender": 2, "id": 126638, "job": "Screenplay", "name": "Mark Andrews"}, {"credit_id": "58c68ed79251411d62016eb2", "department": "Sound", "gender": 0, "id": 138617, "job": "Supervising Sound Editor", "name": "Jonathan Null"}, {"credit_id": "58c69c9a9251411d6201776e", "department": "Production", "gender": 2, "id": 238120, "job": "Casting Associate", "name": "Colin Jones"}, {"credit_id": "52fe479ac3a36847f813eb13", "department": "Costume & Make-Up", "gender": 1, "id": 406204, "job": "Makeup Department Head", "name": "Ve Neill"}, {"credit_id": "58c69b249251411d0d018598", "department": "Production", "gender": 1, "id": 528783, "job": "Casting Associate", "name": "Brittainy Roberts"}, {"credit_id": "58c698c9c3a36840b8017245", "department": "Costume & Make-Up", "gender": 0, "id": 967148, "job": "Assistant Costume Designer", "name": "Jeremy Turner"}, {"credit_id": "58c691f5c3a36841200153f6", "department": "Art", "gender": 2, "id": 969743, "job": "Art Direction", "name": "Dean Wolcott"}, {"credit_id": "58c69032c3a36841200152fe", "department": "Art", "gender": 2, "id": 986687, "job": "Art Direction", "name": "Mark Harris"}, {"credit_id": "570b9382c3a368779600816a", "department": "Art", "gender": 0, "id": 1034754, "job": "Supervising Art Director", "name": "James Hambidge"}, {"credit_id": "52fe479ac3a36847f813eb01", "department": "Crew", "gender": 0, "id": 1034755, "job": "Post Production Supervisor", "name": "Lori Korngiebel"}, {"credit_id": "58c692ffc3a3684114015167", "department": "Art", "gender": 0, "id": 1055222, "job": "Storyboard Designer", "name": "David Krentz"}, {"credit_id": "58c68e719251411d19017745", "department": "Visual Effects", "gender": 0, "id": 1081073, "job": "Special Effects Supervisor", "name": "Chris Corbould"}, {"credit_id": "58c698bec3a368411401553a", "department": "Costume & Make-Up", "gender": 1, "id": 1121742, "job": "Assistant Costume Designer", "name": "Colleen Kelsall"}, {"credit_id": "58c68e2e9251411d47017e8a", "department": "Production", "gender": 0, "id": 1123360, "job": "Associate Producer", "name": "Bob Roath"}, {"credit_id": "58c692629251411d620170a7", "department": "Art", "gender": 0, "id": 1171098, "job": "Set Designer", "name": "Darrell L. Wight"}, {"credit_id": "58c692f9c3a36840b8016e22", "department": "Art", "gender": 0, "id": 1218986, "job": "Storyboard Designer", "name": "Bryan Andrews"}, {"credit_id": "58c6941f9251411d110174ca", "department": "Costume & Make-Up", "gender": 0, "id": 1316599, "job": "Makeup Artist", "name": "Dennis Liddiard"}, {"credit_id": "58c6943a9251411d0d01804a", "department": "Costume & Make-Up", "gender": 0, "id": 1319490, "job": "Makeup Artist", "name": "Kevin Haney"}, {"credit_id": "58c69244c3a368413b015a23", "department": "Art", "gender": 0, "id": 1334782, "job": "Assistant Art Director", "name": "Josh Lusby"}, {"credit_id": "58c69ccec3a36841280156f6", "department": "Art", "gender": 0, "id": 1335553, "job": "Property Master", "name": "Jamie Wilkinson"}, {"credit_id": "58c69f219251411d190182a8", "department": "Crew", "gender": 0, "id": 1339450, "job": "Thanks", "name": "Roger Guyett"}, {"credit_id": "58c69dc79251411d1901819d", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "58c688709251411d3001684b", "department": "Visual Effects", "gender": 0, "id": 1367497, "job": "Visual Effects Supervisor", "name": "Sue Rowe"}, {"credit_id": "58c69ca79251411d11017a77", "department": "Production", "gender": 0, "id": 1374469, "job": "Casting Assistant", "name": "Toby Spigel"}, {"credit_id": "58c69aa59251411d11017919", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "58c68ee9c3a3684128014e36", "department": "Sound", "gender": 0, "id": 1378828, "job": "Sound Re-Recording Mixer", "name": "Michael Semanick"}, {"credit_id": "58c692389251411d30016ea2", "department": "Art", "gender": 0, "id": 1388850, "job": "Assistant Art Director", "name": "Peter Dorme"}, {"credit_id": "58c69cf49251411d4701890b", "department": "Lighting", "gender": 0, "id": 1390367, "job": "Gaffer", "name": "Perry Evans"}, {"credit_id": "58c699f4c3a368413b015f45", "department": "Directing", "gender": 0, "id": 1390388, "job": "Script Supervisor", "name": "Annie Penn"}, {"credit_id": "58c69a7ac3a368410c016254", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Designer", "name": "Tim Nielsen"}, {"credit_id": "58c68edec3a3684114014f16", "department": "Sound", "gender": 0, "id": 1394129, "job": "Supervising Sound Editor", "name": "Tim Nielsen"}, {"credit_id": "58c6928f9251411d55017337", "department": "Art", "gender": 0, "id": 1395430, "job": "Art Department Coordinator", "name": "Jenne Lee"}, {"credit_id": "58c6925b9251411d150174df", "department": "Art", "gender": 0, "id": 1395435, "job": "Set Designer", "name": "Theodore Sharps"}, {"credit_id": "58c691c4c3a36840f6015583", "department": "Art", "gender": 0, "id": 1397837, "job": "Art Direction", "name": "Joseph Hodges"}, {"credit_id": "58c699489251411d300172de", "department": "Camera", "gender": 0, "id": 1399467, "job": "Camera Operator", "name": "Philippe Carr-Forster"}, {"credit_id": "58c69cfdc3a368413b016165", "department": "Lighting", "gender": 0, "id": 1399475, "job": "Gaffer", "name": "Christopher Prampin"}, {"credit_id": "58c69920c3a36841300154e2", "department": "Camera", "gender": 0, "id": 1400535, "job": "Camera Operator", "name": "Colin Anderson"}, {"credit_id": "58c699259251411d620174e9", "department": "Camera", "gender": 0, "id": 1400535, "job": "Steadicam Operator", "name": "Colin Anderson"}, {"credit_id": "58c699ebc3a368411401561c", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "58c6935ec3a368413b015ae4", "department": "Costume & Make-Up", "gender": 0, "id": 1403388, "job": "Key Makeup Artist", "name": "Kim Ayers"}, {"credit_id": "58c68e49c3a368413b0157eb", "department": "Visual Effects", "gender": 0, "id": 1408379, "job": "Visual Effects Producer", "name": "Daniel Barrow"}, {"credit_id": "58c6936fc3a368413b015aed", "department": "Costume & Make-Up", "gender": 0, "id": 1409757, "job": "Key Makeup Artist", "name": "Debbi Salmon"}, {"credit_id": "58c69339c3a36841200154c4", "department": "Costume & Make-Up", "gender": 0, "id": 1411320, "job": "Key Makeup Artist", "name": "Paula Price"}, {"credit_id": "58c69dba9251411d0d018767", "department": "Camera", "gender": 0, "id": 1412205, "job": "Still Photographer", "name": "Frank Connor"}, {"credit_id": "58c69a89c3a3684114015691", "department": "Sound", "gender": 0, "id": 1414177, "job": "Sound Effects Editor", "name": "J.R. Grubbs"}, {"credit_id": "58c69452c3a36840f6015741", "department": "Costume & Make-Up", "gender": 0, "id": 1414539, "job": "Makeup Artist", "name": "Deborah Rutherford"}, {"credit_id": "58c6946c9251411d15017617", "department": "Costume & Make-Up", "gender": 0, "id": 1414540, "job": "Makeup Artist", "name": "Don Rutherford"}, {"credit_id": "58c69a929251411d11017907", "department": "Sound", "gender": 0, "id": 1415464, "job": "Sound Effects Editor", "name": "Malcolm Fife"}, {"credit_id": "58c6923e9251411d11017382", "department": "Art", "gender": 0, "id": 1417396, "job": "Assistant Art Director", "name": "Toby Britton"}, {"credit_id": "58c69866c3a368413001545d", "department": "Costume & Make-Up", "gender": 0, "id": 1418124, "job": "Hair Designer", "name": "Kevin Alexander"}, {"credit_id": "58c693779251411d470181e4", "department": "Costume & Make-Up", "gender": 0, "id": 1421936, "job": "Key Makeup Artist", "name": "Kristie Matthiae"}, {"credit_id": "58c694a99251411d15017646", "department": "Costume & Make-Up", "gender": 0, "id": 1424151, "job": "Makeup Artist", "name": "Gerald Quist"}, {"credit_id": "58c693f39251411d110174a9", "department": "Costume & Make-Up", "gender": 0, "id": 1425411, "job": "Makeup Artist", "name": "Nuria Mbomio"}, {"credit_id": "58c68866c3a368413b015367", "department": "Visual Effects", "gender": 0, "id": 1428901, "job": "Animation Supervisor", "name": "Eamonn Butler"}, {"credit_id": "58c68ec89251411d11017191", "department": "Crew", "gender": 0, "id": 1428905, "job": "Visual Effects Editor", "name": "Laura Jennings"}, {"credit_id": "58c693919251411d0d017fde", "department": "Costume & Make-Up", "gender": 0, "id": 1428911, "job": "Makeup Artist", "name": "Ailbhe Lemass"}, {"credit_id": "58c6992f9251411d19017e49", "department": "Camera", "gender": 0, "id": 1430188, "job": "Camera Operator", "name": "Simon Finney"}, {"credit_id": "58c6948b9251411d15017628", "department": "Costume & Make-Up", "gender": 0, "id": 1441176, "job": "Makeup Artist", "name": "Eryn Krueger Mekash"}, {"credit_id": "58c692ddc3a368413b015a8d", "department": "Art", "gender": 0, "id": 1447571, "job": "Art Department Assistant", "name": "Travis Witkowski"}, {"credit_id": "58c694809251411d15017622", "department": "Costume & Make-Up", "gender": 0, "id": 1458894, "job": "Makeup Artist", "name": "Mike Mekash"}, {"credit_id": "58c6940e9251411d19017aad", "department": "Costume & Make-Up", "gender": 0, "id": 1530220, "job": "Makeup Artist", "name": "Kirstin Chalmers"}, {"credit_id": "58c698e89251411d5501777a", "department": "Costume & Make-Up", "gender": 0, "id": 1532325, "job": "Key Costumer", "name": "Kacie Seamons"}, {"credit_id": "58c693b39251411d30016f78", "department": "Costume & Make-Up", "gender": 0, "id": 1536539, "job": "Makeup Artist", "name": "Deborah Taylor"}, {"credit_id": "58c68e84c3a36840f60153a1", "department": "Crew", "gender": 0, "id": 1546844, "job": "Visual Effects Art Director", "name": "Ryan Church"}, {"credit_id": "58c693659251411d550173be", "department": "Costume & Make-Up", "gender": 0, "id": 1549655, "job": "Key Makeup Artist", "name": "Camille Henderson"}, {"credit_id": "58c68fd29251411d30016d3f", "department": "Crew", "gender": 0, "id": 1550851, "job": "Stunt Coordinator", "name": "Tom Struthers"}, {"credit_id": "58c692bfc3a36840b8016df9", "department": "Art", "gender": 0, "id": 1551810, "job": "Art Department Assistant", "name": "Liam Georgensen"}, {"credit_id": "58c692869251411d30016ed9", "department": "Art", "gender": 0, "id": 1561994, "job": "Art Department Coordinator", "name": "Lavinia Waters"}, {"credit_id": "58c697f89251411d30017205", "department": "Costume & Make-Up", "gender": 0, "id": 1613336, "job": "Makeup Artist", "name": "Greg T. Moon"}, {"credit_id": "58c69a07c3a36841200159ae", "department": "Production", "gender": 0, "id": 1640350, "job": "Production Coordinator", "name": "Richard Daldry"}, {"credit_id": "58c69979c3a368413b015eef", "department": "Sound", "gender": 2, "id": 1658269, "job": "Boom Operator", "name": "Stephen Finn"}, {"credit_id": "58c692e4c3a36840f601564a", "department": "Art", "gender": 0, "id": 1661321, "job": "Art Department Assistant", "name": "Tom Castronovo"}, {"credit_id": "58c69dadc3a36841280157a4", "department": "Crew", "gender": 0, "id": 1686002, "job": "Unit Publicist", "name": "Katherine McCormack"}, {"credit_id": "58c689439251411d15016ed6", "department": "Production", "gender": 0, "id": 1697623, "job": "Unit Production Manager", "name": "Steve Harding"}, {"credit_id": "58c68ebdc3a3684128014e11", "department": "Editing", "gender": 0, "id": 1710258, "job": "Additional Editing", "name": "Erik Jessen"}, {"credit_id": "58c689739251411d47017af1", "department": "Directing", "gender": 0, "id": 1750922, "job": "First Assistant Director", "name": "Tommy Gormley"}, {"credit_id": "58c692c7c3a36841300150c2", "department": "Art", "gender": 0, "id": 1761112, "job": "Art Department Assistant", "name": "Sarah Ginn"}, {"credit_id": "58c689aa9251411d55016d59", "department": "Directing", "gender": 0, "id": 1775681, "job": "Second Assistant Director", "name": "Ben Dixon"}, {"credit_id": "58c68a859251411d1901746d", "department": "Directing", "gender": 2, "id": 1775682, "job": "Second Assistant Director", "name": "Andrew M. Ward"}, {"credit_id": "58c692a4c3a368413b015a64", "department": "Art", "gender": 0, "id": 1775687, "job": "Art Department Coordinator", "name": "Stacey Newton"}, {"credit_id": "58c692b6c3a368412001546d", "department": "Art", "gender": 0, "id": 1775688, "job": "Art Department Assistant", "name": "Rachel Corbould"}, {"credit_id": "58c692d4c3a368413b015a88", "department": "Art", "gender": 0, "id": 1775689, "job": "Art Department Assistant", "name": "Jake Hall"}, {"credit_id": "58c693589251411d0d017fb3", "department": "Costume & Make-Up", "gender": 0, "id": 1775690, "job": "Key Makeup Artist", "name": "Gemma Richards"}, {"credit_id": "58c693fe9251411d55017423", "department": "Costume & Make-Up", "gender": 0, "id": 1775691, "job": "Makeup Artist", "name": "Sara Riesel"}, {"credit_id": "58c69407c3a368413b015b42", "department": "Costume & Make-Up", "gender": 0, "id": 1775692, "job": "Makeup Artist", "name": "Paul Boyce"}, {"credit_id": "58c694189251411d19017ab6", "department": "Costume & Make-Up", "gender": 0, "id": 1775693, "job": "Makeup Artist", "name": "Mandy Gold"}, {"credit_id": "58c698989251411d0d01836e", "department": "Costume & Make-Up", "gender": 0, "id": 1775701, "job": "Hairstylist", "name": "Candice Banks"}, {"credit_id": "58c698a59251411d19017de5", "department": "Costume & Make-Up", "gender": 0, "id": 1775702, "job": "Hairstylist", "name": "Gary Machin"}, {"credit_id": "58c69994c3a36840b80172dd", "department": "Sound", "gender": 0, "id": 1775704, "job": "Boom Operator", "name": "Noel Espinosa"}, {"credit_id": "58c69a309251411d110178c9", "department": "Production", "gender": 0, "id": 1775707, "job": "Production Coordinator", "name": "Meredith Humbracht"}, {"credit_id": "58c69d39c3a368410c0163fd", "department": "Camera", "gender": 0, "id": 1775718, "job": "Key Grip", "name": "Gary Hymns"}, {"credit_id": "58c69da6c3a368413b01620f", "department": "Camera", "gender": 0, "id": 1775721, "job": "Key Grip", "name": "Thomas Gibson"}, {"credit_id": "58c69ec49251411d55017be6", "department": "Crew", "gender": 0, "id": 1775723, "job": "Thanks", "name": "Danton Burroughs"}, {"credit_id": "591264bac3a368646b04fda5", "department": "Crew", "gender": 1, "id": 1813644, "job": "Stunts", "name": "Karin Silvestri"}]'

In [32]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i["job"]=="Director":
            L.append(i["name"])
            break
    return L

In [33]:
df_movies["crew"]=df_movies["crew"].apply(fetch_director)

In [34]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [35]:
df_movies["overview"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [36]:
df_movies["overview"]=df_movies["overview"].apply(lambda x: x.split())

In [37]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [38]:
df_movies["genres"]=df_movies["genres"].apply(lambda x: [i.replace(" ","") for i  in x] )
df_movies["keywords"]=df_movies["keywords"].apply(lambda x: [i.replace(" ","") for i  in x] )
df_movies["cast"]=df_movies["cast"].apply(lambda x: [i.replace(" ","") for i  in x] )
df_movies["crew"]=df_movies["crew"].apply(lambda x: [i.replace(" ","") for i  in x] )

In [39]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [40]:
df_movies["tags"]=df_movies["overview"]+df_movies["cast"]+df_movies["crew"]+df_movies["keywords"]

In [41]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [42]:
df_movies=df_movies.drop(columns=df_movies[["overview","genres","keywords","cast","crew"]])

In [43]:
df_movies.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [44]:
#Now convert the list into a string 
df_movies["tags"]=df_movies["tags"].apply(lambda x:" ".join(x))

In [45]:
df_movies["tags"]=df_movies["tags"].apply(lambda x:x.lower())

In [46]:
df_movies.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [47]:
import nltk

In [48]:
from nltk.stem.porter import PorterStemmer
porStem=PorterStemmer()

this case we use change the words like [love,loveing,loved] into [ove,love,love]

In [49]:
def stem(text):
    Y=[]
    for i in text.split():
        Y.append(porStem.stem(i))
        
    return " ".join(Y)

In [50]:
df_movies["tags"]=df_movies["tags"].apply(stem)

In [51]:
df_movies["tags"][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav jamescameron cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d'

In [52]:
from sklearn.feature_extraction.text import CountVectorizer

In [53]:
count_vec=CountVectorizer(max_features=5000,stop_words="english")

In [54]:
vector=count_vec.fit_transform(df_movies["tags"]).toarray()

In [55]:
count_vec.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
similarity=cosine_similarity(vector)

In [58]:
def recommend(movie):
    movie_index=df_movies[df_movies["title"]==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(df_movies.iloc[i[0]].title)

In [59]:
recommend("Batman Begins")

The Dark Knight
Batman
Batman
Batman v Superman: Dawn of Justice
Synecdoche, New York

In [60]:
import pickle

In [61]:
pickle.dump(df_movies,open("movies.pkl","wb"))

In [66]:
pickle.dump(df_movies.to_dict(),open("movies_to_dict.pkl","wb"))

In [65]:
similarity = pickle.dump(df_movies,open("similarity.pkl", "wb"))